include mixins
doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        title Default
        meta(name="theme-color" content="#ff6600")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")

        link(rel="stylesheet", href="./css/vendors.css")
        link(rel="stylesheet", href="./css/main.css")
        link(rel="stylesheet", href="./css/all.min.css")
        meta(name="robots" content="noindex, nofollow")

    body
        .delete


