// colors
$color-def: rgb(75, 79, 84);
$color-orange: rgb(255, 131, 0);
$color-gray-light: rgb(172, 175, 176);
$color-blue: rgb(70, 168, 198);
$color-red: rgb(255, 80, 0);

$OpenSans: 'Opensans', sans-serif;

