$icon_font_name:"svg-icons";
@font-face {
    font-family:$icon_font_name;
    src:
            url('../fonts/' + $icon_font_name + '.woff') format('woff'),
            url('../fonts/' + $icon_font_name + '.ttf') format('truetype');
}
.icon-arrow-down,
.icon-arrow-next,
.icon-arrow-prev,
.icon-facebook-logo,
.icon-lang,
.icon-linkedin-letters,
.icon-mail,
.icon-odnoklassniki,
.icon-perm-device-information,
.icon-twitter-black-shape,
.icon-vk-social-network-logo,
.icon-youtube-logo,
%last_selector {
           &:before {
               font-family:$icon_font_name;
               -webkit-font-smoothing: antialiased;
               -moz-osx-font-smoothing: grayscale;
               font-style: normal;
               font-variant: normal;
               font-weight: normal;
               // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
               text-decoration: none;
               text-transform: none;
           }
       }

%icons_before_after {
    &:before,
    &:after {
        font-family: $icon_font_name;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

%icons_after {
    &:after {
        font-family: $icon_font_name;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.icon-arrow-down:before {
    content:'\E001';
}
.icon-arrow-next:before {
    content:'\E002';
}
.icon-arrow-prev:before {
    content:'\E003';
}
.icon-facebook-logo:before {
    content:'\E004';
}
.icon-lang:before {
    content:'\E005';
}
.icon-linkedin-letters:before {
    content:'\E006';
}
.icon-mail:before {
    content:'\E007';
}
.icon-odnoklassniki:before {
    content:'\E008';
}
.icon-perm-device-information:before {
    content:'\E009';
}
.icon-twitter-black-shape:before {
    content:'\E00A';
}
.icon-vk-social-network-logo:before {
    content:'\E00B';
}
.icon-youtube-logo:before {
    content:'\E00C';
}