.icon-arrow-down {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arrow-next {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arrow-prev {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook-logo {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-lang {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-linkedin-letters {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-mail {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-odnoklassniki {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-perm-device-information {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-twitter-black-shape {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-vk-social-network-logo {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-youtube-logo {
  width: 1em;
  height: 1em;
  fill: initial;
}
