meta(charset="utf-8")
title= title + ' | Kyivonair' || 'Kyivonair'
meta(http-equiv="X-UA-Compatible" content="IE=Edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="theme-color" content="#000")
meta(name="format-detection" content="telephone=no")
link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
link(rel="stylesheet" media="all" href="css/app.css")
include _media-tags
