body {
    background: #FFF;
    font-size: 16px;
    color: $color-def;
    line-height: 1.4;
    font-family: OpenSans, sans-serif;
    font-weight: 400;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.wrapper {
    flex: 1;
}
